python>0, <3.11
markupsafe==1.1.1
gunicorn
cython>=0.29.21

chardet
backcall==0.2.0
certifi==2021.10.8
colorama==0.4.4
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.0
dill==0.3.4
entrypoints==0.3

ipykernel==6.6.1
ipython==7.30.1
itur==0.2.1
jedi==0.18.1
joblib==1.1.0
jupyter-client==7.1.0
jupyter-core==4.9.1
kiwisolver==1.3.2
matplotlib==3.4.1
matplotlib-inline==0.1.3
metakernel==0.28.2
multiprocess==0.70.12.2
nest-asyncio==1.5.4
numpy==1.21.0
oct2py==5.3.0
octave-kernel==0.34.0
packaging==21.3
pandas==1.5.0
parso==0.8.3
pathos==0.2.7
pexpect==4.8.0
pickleshare==0.7.5
pox==0.3.0
ppft==1.6.6.4
prompt-toolkit==3.0.24
ptyprocess==0.7.0
pyerfa==2.0.0.1
Pygments==2.11.1
pyparsing==3.0.6
pyproj
PyQt5==5.15.2
PyQt5-sip==12.9.0
python-dateutil==2.8.2
pytz==2021.3

PyYAML==6.0
pyzmq==22.3.0
scipy==1.7.3
six==1.16.0
tornado==6.1
tqdm==4.56.0
traitlets==5.1.1
wcwidth==0.2.5
GDAL==3.5.0
asgiref==3.6.0
Django==4.2

mysqlclient==2.1.1
Pillow==9.5.0
psycopg2==2.9.6
sqlparse==0.4.4
tzdata==2023.3
whitenoise==6.5.0
dj-database-url==2.0.0
psycopg2-binary==2.9.6
boto3
django-storages
requests==2.31.0
folium==0.14.0
django-cors-headers
djangorestframework
djangorestframework-simplejwt


celery==5.2.3  # O la versión más reciente que prefieras
redis==4.3.4  # O la versión más reciente que prefieras
stripe